# Diretórios .terraform em qualquer lugar
.terraform/
**/.terraform/

# tfstate files
*.tfstate
*.tfstate.*

# Logs de crash
crash.log
crash.*.log

# tfvars (segredos)
*.tfvars
*.tfvars.json

# Arquivos de override locais
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Lock do Terraform
*.terraform.tfstate.lock.info
*.terraform.lock.hcl

# Planos de execução
*.tfplan

# Arquivos de config do Terraform
.terraformrc
terraform.rc
